.Container
{
	width: 100%;
	height: 1500px;
	background-color: aqua;
}
.Header
{
	width: 100%;
	height: 500px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0dcb8+0,e0dcb8+100 */
background: #e0dcb8; /* Old browsers */
background: -moz-linear-gradient(top,  #e0dcb8 0%, #e0dcb8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e0dcb8 0%,#e0dcb8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e0dcb8 0%,#e0dcb8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dcb8', endColorstr='#e0dcb8',GradientType=0 ); /* IE6-9 */

}
.Banner
{
	width: 100%;
	height: 100px;
}
.Logo
{
	width: 20%;
	height: 60px;
	padding:20px 5% 20px 5%;
	float: left;
}
.Menu
{
	width: 70%;
	height: 100px;
	float: right;
	
}
.Hinhbackground
{
	width: 100%;
	height: 400px;
	background:url("../images/thamngan_02.png");
	background-repeat:no-repeat;
	background-size: 400px;
}
.Duoiheader
{
	width:100%;
	height: 100px;
	background-color:antiquewhite
}
.Getfast
{
	width:40%;
	height: 30px;
	float:left;
	font-size:20px;
	padding:35px 5% 35px 5%;
}
.Searching
{
	width:50%;
	height: 100px;
	float:right;
}
.Menu ul
{
	list-style: none;
}
.Menu ul li
{
	float:left;
	padding:17px;
}
.Menu ul li a 
{
	text-decoration: none;
}
.Menu ul li:hover
{
	background-color:blanchedalmond;
}
.Menu ul li a
{
	color:black;
}
input
{
	width:300px;
	heigt:40px;
	border-radius:10px;
}
button
{
	width:85px;
	height:20px;
	border-radius: 8px;
	background-color:cyan;
	border:none;
}
.duoiballet
{
	width:100%;
	height:500px;
	background-color:white;
}
.hinhduoiballet
{
	width:50%;
	height:500px;
	float:left
}
.balletclasses
{
	width:40%;
	height:387px;
	float:right;
	padding:5% 50px 5% 10px;
}





